* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* //////////////////////////////////////////////////////////////Alert Module */
button {
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: blue;
  color: white;
}
.text {
  width: 30%;
  border: 1px solid black;
  position: fixed;
  right: -100%;
  bottom: 1%;
  padding: 20px;

  transition: 0.5s;
}
.text_header {
  display: flex;
  justify-content: space-between;
}
